* {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #4d4d5c;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  max-width: 800px;
  list-style: none;
}

.post {
  padding: 20px 10px;
  width: 400px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: #7979a6;
  cursor: pointer;
}

.toTop {
  cursor: pointer;
}
